
@model AspMvcStarter.Controllers.AccountController.picAndComments
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close modalBtnDismiss" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        </div>
        <div class="modal-body ">
            <input type="hidden" class="txtHiddenCommentId" value="@Model.Photo.Id" />
            @if (Model.Photo.Format != null)
            {
                <div class="image_box" data-toggle="modal" data-target="#PhotoModal">
                    <img src="http://res.cloudinary.com/bolum-victor/image/upload/w_500,h_500,c_scale/@Model.Photo.Name.@Model.Photo.Format" alt="Alternate Text" />
                </div>
            }
            else
            {
                <div class="image_box" data-toggle="modal" data-target="#PhotoModal">
                    <img src="@Model.Photo.Name" style="width:500px;height:500px;" alt="Alternate Text" />
                </div>
            }
            
            <div>
                @foreach (var item in Model.Comment)
                {
                    <div>
                        @item.Sender.Username - @item.Body
                    </div>
                }
            </div>
        </div>

        <div class="modal-footer">
            <input type="text" class="form-control body" name="name" value="" placeholder="add comment" />
            <button type="button" class="btn btn-default send_comment" data-dismiss="modal">submit</button>

        </div>
    </div>
</div>
<script>
    function test() {
        console.log("comment ")
    }
    $(".send_comment").click(function () {
        var id = $(".txtHiddenCommentId").val();
        var body = $(".body").val();
        console.log(id)
        $.post("/account/InsertComments", { id: id , body: body }, function (res) {
            console.log(res)
        })
    });
</script>






