
@{
    ViewBag.Title = "ResetEmail";
}

<div class="row">
    <br />
    <div class="container col-md-6 col-md-offset-3">
        <div class="panel panel-default ">
            <div class="panel-heading text-center">
                Check Your email
            </div>
            <div class="panel-body">
                <div class="">
                    <div>


                        <p>
                            We've sent an email to ra********@@o******.***. Click the link in the email to reset your password
                        </p>

                        <p>
                            If you don't see the email, check other places it might be, like your junk, spam, social, or other folders.
                        </p>



                        <a href="#">I didnt receive the text message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>


